---
// import '@/styles/globals.css'
import Layout from "../layouts/Layout.astro";
import { Input } from "@/components/ui/input"

import { Button } from "@/components/ui/button";
// import "@radix-ui/themes/styles.css";

---



<Layout title="Welcome to Astro." favicon="/favicon.svg">
	<Input/>
	<h1>123</h1>
</Layout>

<style>
	h1{
		color:white;
	}
	main {
		/* background-color: red; */
	}
</style>
